<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <link rel="stylesheet" href="../static/bootstrap_css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="../static/img/icone.png">
    <title>Gustavo</title>
</head>

<body>
    <!-- Menu lateral responsivo -->
    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <a target="_blank" href="../static/img/perfil.jpg"><img src="../static/img/perfil.jpg"
                    alt="Foto do Gustavo"></a>
            <h1>Gustavo José Costa Gregenski</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/gustavo-jos%C3%A9-costa-gregenski-7aa8b7302/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/gustavobatata17">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://wa.me/554199100397">
                    <i class="bi bi-whatsapp"></i>
                </a>

            </div>
        </section>
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person-lines-fill" aria-hidden="true"></i>
                        Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-stars" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-briefcase" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-folder" aria-hidden="true"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mensagem"><i class="bi bi-airplane" aria-hidden="true"></i>
                        Mensagens </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#agradecimentos"><i class="bi bi-person-circle" aria-hidden="true"></i>
                        Agradecimentos </a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- Apresentação -->
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Gustavo</h2>
                <span id="subtitle" class="text-white text-shadow">Frelaancer e Estudande de Programação</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>

            </div>

        </section>
        <!-- Sobre mim  -->
        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre Mim</h2>
                    <p>
                        Olá, sou Gustavo, estudante do curso técnico em <strong>Análise e Desenvolvimento de Sistemas do
                            IFPR</strong> .
                        Estou em busca de oportunidades que me permitam aprimorar minhas habilidades e
                        aprofundar meu conhecimento técnico. Tenho experiência com diversas linguagens e tecnologias,
                        entre as quais se destacam <strong> PHP, C, Java, HTML, CSS, JS, Python, GIT, NODEJS e
                            MYSQL</strong>,
                        além do domínio de ferramentas essenciais como <strong> Excel, Word, Windows e Linux</strong>.
                        Ademais,
                        possuo conhecimentos básicos em administração e desenvolvi competências fundamentais
                        para o mercado de trabalho, tais como <strong> comunicação eficaz, empatia, comprometimento,
                            trabalho em equipe e inovação.</strong>
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil_foto.jpg" alt="Foto do Gustavo"
                        data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Frelaancer e Estudante</h3>


                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item"> Nascimento: <span class="fw-lighter">17 de Dezembro de
                                        2007</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">16 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Colombo</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Paraná</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">


                                <li class="list-group-item">Trabalho: <a href="https://blueedtech.com.br/"
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">disponível no
                                        mercado
                                    </a></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter"> +2 anos de estudo
                                    </span></li>

                            </ul>
                        </div>
                    </div>

                    <p> </p>

                </div>
            </div>
        </section>
        <!-- Habilidades -->
        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Conhecimentos</h2>
                <p> Aqui você encontra mais detalhes sobre os meu conhecimentos ou <strong>Hard Skills</strong>, que ao <strong>Clicar</strong>
                    obterá mais detalhes
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- Html -->
                        <strong>
                            <p onclick="html_descricao()" class='mt-3 mb-0 p_hover'>HTML</p>
                        </strong>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="95"
                                data-anime="left" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p id="html_text"></p>

                        <!--CSS -->
                        <strong> <p onclick="css_descricao()" class="mt-3 mb-0 p_hover">CSS</p></strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 65%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p id="css_text"></p>

                        <!-- JS -->
                        <strong> <p onclick="js_descricao()" class="mt-3 mb-0 p_hover">JavaScript</p></strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;"
                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <p id="js_text"></p>
                        <!-- Python -->
                        <strong> <p onclick="python_descricao()" class="mt-3 mb-0 p_hover">Python</p></strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                              <p id="python_text"></p>
                              <!--Java -->
                        <strong> <p onclick="java_descricao()" class="mt-3 mb-0 p_hover">Java</p></strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>
                        <p id="java_text"></p>
                        <!-- Git -->
                        <strong> <p onclick="git_descricao()" class="mt-3 mb-0 p_hover">Git</p></strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 78%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">78%</div>
                        </div>
                        <p id="git_text"></p>
                        <!-- C -->
                        <strong> <p onclick="c_descricao()" class="mt-3 mb-0 p_hover">C</p> </strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p id="c_text"></p>
                        <!--NodeJs-->
                        <strong> <p onclick="node_descricao()" class="mt-3 mb-0 p_hover">NodeJS</p> </strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                        <p id="node_text"></p>
                        <!--PHP-->

                        <strong> <p onclick="php_descricao()" class="mt-3 mb-0 p_hover">PHP</p> </strong>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                        <p id="php_text"></p>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h2 class='pt-5'>Habilidades</h2>
                            <p>Durante minha vida desenvolvi algumas habilidades
                            </p>

                        </div>
                        <div class="col-md-6">
                            <p class="mt-3 mb-0">Comunicação</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>

                            <p class="mt-3 mb-0">Empatia</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">75%</div>
                            </div>

                            <p class="mt-3 mb-0">Comprometimento</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                    aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                            <p class="mt-3 mb-0">Trabalho em equipe</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>

                            <p class="mt-3 mb-0">Inovação</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>

                </div>

        </section>
        <!-- Educação -->
        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Ensino Médio Técnico em ADS</h4>
                            <h5>2022 - 2024</h5>
                            <p><em>Colégio Estadual Presidente Abraham Lincoln</em></p>
                            <p>Durante minha formação, desenvolvi páginas com <strong>HTML, CSS e JavaScript</strong>,
                                aprimorei conhecimentos em <strong>banco de dados</strong>, <strong>metodologias
                                    ágeis</strong> e <strong>design vetorial</strong>, além de praticar programação em
                                <strong>C, Python e Java</strong>.
                            </p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Cursos Profissionalizantes</h4>
                            <h5>Desde 2022</h5>
                            <p><em>Alura</em></p>
                            <p>Participei de diversos cursos em <strong>C, JavaScript, HTML, CSS, Python, SCRUM e
                                    PHP</strong>, obtendo certificações que ampliaram meu conhecimento e habilidades na
                                área de tecnologia.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Tecnologia em Análise e Desenvolvimento de Sistemas</h4>
                            <h5>Desde 2024</h5>
                            <p><em>IFPR</em></p>
                            <p>Curso superior focado na <strong> análise, desenvolvimento e manutenção</strong> de
                                sistemas computacionais.</p>
                        </div>

                        <div class="col-md-10">
                            <h3 class="cv-title">Experiência Profissional</h3>

                            <div class='cv-item' data-anime="up">
                                <h4>Freelancer</h4>
                                <h5>2024 - Atual</h5>
                                <p><em>Projetos Pessoais</em></p>
                                <p>Desenvolvi projetos <strong> acadêmicos e pessoais</strong>, aplicando conhecimentos
                                    adquiridos para criar soluções na área de desenvolvimento de sistemas.</p>
                            </div>
                        </div>

                        <a data-anime="up" class="dowload" href="../static/curricoloDoGugu.pdf" download>Download
                            Currículo</a>
                    </div>
                </div>
            </div>

        </section>
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-1">Portfólio</h2>
               
                <div id="portfolioCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">

                                    <div class="card">
                                        <img src="../static/img/Arquitetura de software_img.png" class="card-img-top"
                                            alt="Arquitetura de software">
                                        <div class="card-body">
                                            <h5 class="card-title">Seminário Software</h5>
                                            <p class="card-text">Projeto realizado em HTML, CSS e JS para um seminário
                                                sobre Arquitetura de Software.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/gustavobatata17/Seminario_Software"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://gustavobatata17.github.io/Seminario_Software/"
                                                    target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/linkedin.png" class="card-img-top img-fluid w-100"
                                            alt="linkedin">
                                        <div class="card-body">
                                            <h5 class="card-title">Seminário LinkedIn</h5>
                                            <p class="card-text">Projeto realizado em HTML, CSS e JS para uma
                                                apresentação sobre conceitos básicos do LinkedIn.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/gustavobatata17/Linkedin_Seminario_Finalizado"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://gustavobatata17.github.io/Linkedin_Seminario_Finalizado/"
                                                    target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Barbearia Sherek.png"
                                            class="card-img-top img-fluid w-100" alt="barbearia">
                                        <div class="card-body">
                                            <h5 class="card-title">Barbearia Sherek</h5>
                                            <p class="card-text">Projeto realizado em HTML e CSS simulando uma rede de
                                                barbearias feitas pelo Sherek.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/gustavobatata17/Barbearia_Sherek"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://gustavobatata17.github.io/Barbearia_Sherek/"
                                                    target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
           <a class="link " target="_blank" href="https://github.com/gustavobatata17">Mais projetos</a>

        </section>
        <br>
        <!-- Contato -->
        <h3 data-anime="up" class="text-center p-3"> Contato </h3>

        <div id="contato">

            <div class="iframe">
                <div>
                    <h4 data-anime="left"><i class="bi bi-geo-alt"></i> Localização:</h4>
                    <p data-anime="down">Colombo, PR</p>
                </div>

                <div>
                    <h4 data-anime="right"><i class="bi bi-envelope"></i> Email:</h4>
                    <p data-anime="up">dev.gustavo07@gmail.com</p>
                </div>

                <div>
                    <h4 data-anime="up"><i class="bi bi-linkedin"></i> linkedin:</h4>
                    <p data-anime="left">Gustavo José Costa Gregenski</p>
                </div>

                <div>
                    <h4 data-anime="down"><i class="bi bi-telephone-fill"></i> Telefone:</h4>
                    <p data-anime="up"> +55 41 99910-0397</p>
                </div>

                <div>
                    <h4 data-anime="up"><i class="bi bi-github"></i> Github:</h4>
                    <p data-anime="down">gustavobatata17</p>
                </div>

            </div>
            <iframe data-anime="left"
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d16313.947340228582!2d-49.22716419631223!3d-25.291502132503346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1721223919953!5m2!1spt-BR!2sbr"
                width="450px" height="350px" style="border:0;" allowfullscreen="" class="mapa" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <section id="mensagem">
            <h1 data-anime="left"> Mensagem </h1>
            <p data-anime="down">Aqui você pode me enviar uma mensagem</p>
            <div class="col-md-7">
                <div>
                    <form data-anime="up" action="/send" method="POST">
                        <div class="form">
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label for="idNome">Nome:</label>
                                    <input type="text" class="form-control border-0 text-black" id="idNome"
                                        placeholder="Nome Completo" name="nome" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="idEmail">Email:</label>
                                    <input type="email" class="form-control  border-0 text-black"
                                        placeholder="seuemail@gmail.com" id="idEmail" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group mt-9">
                                <label for="idMensagem">Mensagem:</label>
                                <textarea type="text" class="form-control border-0 text-black" rows="10" id="idMensagem"
                                    name="mensagem" required placeholder="Escreva aqui sua mensagem"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button id="btn-enviar-no-loader" type="submit"
                                class="btn btn-primary btn-sm btn-block mt-3">Enviar</button>
                            <button id="btn-enviar-loader" class="d-none btn btn-primary btn-sm btn-block mt-3"
                                type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Enviando...
                            </button>
                        </div>
                    </form>
        </section>

        <!-- Agradecimentos -->
        <section class="container mt-5" id='agradecimentos'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="up">

                    <h2 class="text-center"> Agradecimentos</h2>
                    <p class="text-center">

                        Gostaria de agradecer a todos que me apoiaram e ajudaram tanto na construção deste portfólio
                        quanto no meu aprendizado na área de tecnologia. Seu suporte, conselhos, incentivo e
                        ensinamentos foram fundamentais para alcançar este resultado.
                        Agradeço especialmente aos professores <a target="_blank"
                            href="https://www.linkedin.com/in/elvertoni/"><strong class="contato_agredacimento">
                                Elvertoni Coimbra </strong></a>
                        e <a target="_blank" href="Jeferson.html"><strong class="contato_agredacimento">Jeferson Alves
                                Rodrigues</strong></a> ,
                        que me auxiliaram na construção deste portfólio e no meu desenvolvimento profissional. Também
                        sou grato ao canal <a href="https://www.linkedin.com/in/thicode/" target="_blank"><strong
                                class="contato_agredacimento">Thicode</strong></a> , cuja orientação e
                        feedback foram inestimáveis.
                        Sem a ajuda de cada um de vocês, este projeto não teria sido possível. Muito obrigado por
                        estarem ao meu lado e contribuírem para o meu crescimento.


                    </p>

                    <img class="img_valeu" src="../static/img/valeu" alt="">
                    <br>
                </div>
            </div>
        </section>
        <footer>
            <h3 class="text-center">Desenvolvido por Gustavo José Costa Gregenski </h3>
            <div>
                <a target="_blank" href="https://www.linkedin.com/in/gustavo-jos%C3%A9-costa-gregenski-7aa8b7302/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/gustavobatata17">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://wa.me/554199100397">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </footer>


        <script src="../static/scripts/bootstrap_js/bootstrap.bundle.min.js"></script>
        <script src="../static/scripts/script.js"></script>
       <script src="../static/scripts/list.js"></script>


</body>

</html>